@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/gilroy.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), url(./fonts/gilroy-light.otf) format('opentype');
}